<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Dawood University of Engineering Karachi Pakistan</li>
    <li>Computer System Engineering</li>
    <li>Karachi, Pakistan</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+92 332 937 5723</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:abdulqudoospk737@gmail.com">abdulqudoospk737@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://qudosabdu.github.io">https://qudosabdu.github.io</a></li>
  </ul>
</div>
